name: Run Unit Tests

on: workflow_call

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}-tests
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  jest-tests-job:
    if: ${{ github.event.pull_request.draft == false }}
    name: Jest Tests Job
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com/'
          cache: npm
          scope: '@govuk-one-login'
          always-auth: true

      - name: Run Tests
        run: |
          npm ci
          npm test
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
